html{
  scroll-behavior: smooth;
}

p{
  background-color: #1d1d1d;
  padding: 1em;
}

h2{
  background-color: blueviolet;
  padding: 1em;
}

img{
  border: 3px solid #1d1d1d;
  border-radius: 6px;
}

section{
  display: grid;
  place-items: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 2em 0;
}